@tailwind base;
@tailwind components;
@tailwind utilities;

.CenterDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0%;
    padding: 0%;
    transform: translate(-50%, -50%);
}

.css-1wvnaxz-MuiTableCell-root.MuiTableCell-head, .css-2dum1v-MuiDrawer-docked, .MuiDrawer-paper {
    background-color: #000 !important;
    color: #fff !important;
}

.css-19z1ozs-MuiPaper-root-MuiAppBar-root, .MuiToolbar-root MuiToolbar-gutters MuiToolbar-regular css-hyum1k-MuiToolbar-root {
    background-color: #000 !important;
}

.css-1191obr-MuiPaper-root-MuiAppBar-root, .css-1r9jet7, .css-1l8j5k8 {
    background-color: #000 !important;
}

/*  */
.css-1hsz34s-MuiDrawer-docked .MuiDrawer-paper, .css-1l8j5k8 {
    color: #fff !important;
    background: black;
}

/*  */

.css-i4bv87-MuiSvgIcon-root {
    color: white;
}

/* .css-113qkos-MuiSwitch-root .MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
    background-color: #000 !important;
} */

.css-i6s8oy {
    background-color: #000 !important;
}